.card {
  border-radius: 0;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}
.container {
  padding: 10px 16px;
  content: "";
  display: table;
  clear: both;
  padding-bottom: 0;
  background: black;
  color: white;
}
.title {
  line-height: 15px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}
.sub-title {
  font-weight: bold;
  margin-bottom: 7px;
  color: white;
  font-size: medium;
}
.column-left {
  float: left;
  width: 75%;
  cursor: pointer;
}
.column-right {
  float: right;
}
.material-icons {
  cursor: pointer;
  color: white;
  font-size: 36px;
  padding-left: 5px;
}

.coming-soon {
  position: relative;
  text-align: center;
  opacity: 0.4;
}
.pointer-image {
  cursor: pointer;
}
.material-icons {
  cursor: pointer;
  color: white;
  font-size: 36px;
  padding-left: 5px;
}
.hi {
  color: #86BC25;
}
.coming-soon {
  position: relative;
  text-align: center;
  opacity: 0.4;
}
.pointer-image {
  cursor: pointer;
}
.coming-soon-text {
  color: #00000f !important;
  font-weight: bold;
  opacity: 0.8 !important;
  position: absolute;
  top: 8px;
  right: 16px;
}
.mat-stroked-button {
  background: white;
  line-height: 28px;
}
.image-size {
  width: 300px;
  height: 300px;
}
