<!--<mat-card  *ngIf="comic" class="example-card">
  <mat-card-header>
    <mat-card-title>{{this.comic.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{imageUrl}}" alt="Comic Cover">
<mat-card-actions>
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions>
</mat-card>-->

<div class="card" fxFlex style="background-color: black;">
  <img alt="Comic Image" [src]="imageUrl" class="image-size">
  <div class="coming-soon-text">
    <span class="pointer-image" (click)="setComicAsFavorite(!this.comic.favorite)">
      <img src="assets/img/heart_on.png"  alt="Favorite Icon" *ngIf="this.comic.favorite else not_favorite">
    </span>
    <ng-template #not_favorite>
      <img [src]="imageSrc" (mouseover)="imageSrc = 'assets/img/heart_hover.png'" (mouseout)="imageSrc = 'assets/img/heart_off.png'" alt="Favorite Icon" >
    </ng-template>
  </div>
  <div class="container">
    <p class="sub-title"> {{handleTitle(this.comic.title)}} </p>
  </div>
</div>
