<app-topbar (searchEvent)="getComicsListByTitle($event)"></app-topbar>

<mat-progress-bar *ngIf="isLoadingResults" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile
    *ngFor="let comic of comicsList"
    [colspan]="1"
    [rowspan]="1">
    <app-card (favoriteClickEvent)="handleClickedCard($event)" [comic]="comic"></app-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator *ngIf="comicsList"
               [length]="this.totalRecords"
               [pageSize]="this.pageSize"
               [pageSizeOptions]="[10, 20, 50, 100]"
               (page)="paginatorOutput($event)"
               aria-label="Select page">
</mat-paginator>

