<mat-toolbar color="warn">
  <span><img src="assets/img/marvel_logo.png" alt="Marvel Logo"></span>

  <mat-form-field class="center" appearance="fill">
    <input [(ngModel)]="searchResult" (blur)="triggerSearchRequest()" style="color: white" matInput placeholder="Search">
  </mat-form-field>

  <span class="spacer"></span>
  <button disabled mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

</mat-toolbar>
